/VSolution/VBusiness/obj
/VSolution/VBusiness/bin
/VSolution/VRepository/obj
/VSolution/VRepository/bin
/VSolution/VBusiness.Interface/obj
/VSolution/VBusiness.Interface/bin
/VSolution/VRepository.Interface/obj
/VSolution/VRepository.Interface/bin
/VSolution/VRepository.MySql/obj
/VSolution/VRepository.MySql/bin
/VSolution/VRepository.SqlServer/obj
/VSolution/VRepository.SqlServer/bin
/VSolution/*.suo
/VSolution/VWeb/obj
/VSolution/VWeb/bin
/VSolution/VEntity/obj
/VSolution/VEntity/bin
/VSolution/VAPI/obj
/VSolution/VAPI/bin
/VSolution/VAPI.Host/obj
/VSolution/VAPI.Host/bin
