<?xml version="1.0" encoding="utf-8" ?>
<autofac>
  <components>
    <component type="VSolution.VRepository.SqlServer.UserRepository, VSolution.VRepository.SqlServer"
               service="VSolution.VRepository.Interface.IUserRepository, VSolution.VRepository.Interface" />
  </components>
</autofac>