<?xml version="1.0" encoding="utf-8" ?>
<autofac>
  <components>
    <component type="VSolution.VRepository.MySql.UserRepository, VSolution.VRepository.MySql"
               service="VSolution.VRepository.Interface.IUserRepository, VSolution.VRepository.Interface" />
    <component type="VSolution.VBusiness.UserBusiness, VSolution.VBusiness"
               service="VSolution.VBusiness.Interface.IUserBusiness, VSolution.VBusiness.Interface" />
  </components>
</autofac>